section.call-out {
  isolation: isolate;
  background-image: linear-gradient(
    var(--coGradientStart),
    var(--coGradientEnd)
  );
  color: var(--white);
}

h2 {
  text-align: center;
  font-size: 2.5em;
  font-weight: var(--fontWeightHeader);
  margin-block: 40px 100px;
}

section.light-section {
  overflow: hidden;
  padding-block: 100px;
}

.content {
  display: flex;
  gap: 125px;
  margin-bottom: 256px;
}

.image-wrapper {
  position: relative;
  flex: 1;
}

.image-wrapper img {
  position: absolute;
  top: -55%;
  height: 210%;
  width: auto;
  flex: 1;
}

.content.image-left {
  padding-block-start: 160px;
  flex-direction: row;
  .image-wrapper img {
    right: 0;
    flex: 1;
  }
}

.content.image-right {
  flex-direction: row-reverse;
  .image-wrapper img {
    left: 0;
  }
}

.content-block {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 64px;
  margin-inline: clamp(32px, 10%, 165px);
}

.text-block {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.mobile-image {
  display: none;
  width: clamp(100px, 100%, 600px);
  margin-inline: auto;
}

@media only screen and (max-width: 900px) {
  h2 {
    margin-block: 0 38px;
  }
  .image-wrapper {
    display: none;
  }
  .mobile-image {
    display: block;
  }
  .content-block {
    text-align: center;
    margin-inline: clamp(38px, 15%, 200px);
  }
  .content.image-left {
    padding-block-start: 0;
  }
}
